.Queries {
  display: flex;
  width: 80%;
  margin-top:  5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFF;
  flex-direction: column;
  
}
.Queries-form-top{
    border-top: solid .4rem #9C9C9C;
    text-align: center; 
}
.Queries-form-top h1{
  font-weight: bold;
  color: #9E9E9E;
  font-size: 30px;
}

.Queries-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

h1 span{
  color: #757575;
} 

.Queries-btn-form{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 1rem;

}

.input, .textarea, .btn-submit, .btn-reset{
  background-color: #EFEFEF;
  padding: .5rem;
  margin: .5rem 0;
  border: none;
  border-bottom: solid #C8C8C8 .2rem;
  transition: all .5s;
}

.btn-submit, .btn-reset{
  color: #212121;
  width: 80px;
  border-right: solid #C8C8C8 .6rem;
  
}

.input:focus{
  width: 100%;
  border-bottom: none;
  background-color: #BDBDBD;
  color: #757575;
}