.Content {
  
 text-align: center;
  display: flex;
   height: 92px; 
  min-height: 80vh;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  background-image: url(./images/home.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Content-image{
  
  
 
}
.Content-text{
   color: #2E3947;

}
