.Content {
  text-align: center;
  background-image: url(../images/lady-justice.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px; 
  min-height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.Content-text{
   color: #B3B9C1;
}
