.How {
  text-align: center;
  background-image: url(./images/how.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 92px; 
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}
.How-text{
   color: #2E3947;

}
